# Virtual Environment
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Other
*.log
.DS_Store
